<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Panel de Administración</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <style>
    body { font-family: 'Segoe UI', sans-serif; margin: 0; padding: 0; background: #f4f4f4; }
    header { background-color: #000000; color: white; padding: 15px 20px; display: flex; justify-content: space-between; align-items: center; }
    nav a {
      color: white; text-decoration: none; margin-right: 15px;
      font-weight: 500; transition: color 0.3s ease;
    }
    nav a:hover { color: #1abc9c; }
    .container { padding: 20px; }
    h1 { color: #333; }
  </style>
</head>
<body>

<header>
  <div><strong>Panel de Administración - ISS</strong></div>
  <nav>
    <a href="/dashboard">Inicio</a>
    <a href="/dashboard-usuarios">Usuarios</a>
    <a href="/Subir-Dataset">Subir dataset </a>
    <a href="/Subir-libros">Subir Libros</a>
    <a href="/">Ir al sitio</a>
    <a href="/logout">Cerrar sesión</a>
  </nav>
</header>