<footer class="footer-biblioteca">
    <div class="footer-biblioteca-contenido">
  
      <div class="footer-biblioteca-columna logo-col">
        <img src="/img/logo.png" alt="Logo Biblioteca Virtual" class="footer-logo" />
        <div class="logo_text_footer">
            <strong>ISS</strong>
            <span>LIBRERIA VIRTUAL</span>
        </div> 
        <p class="texto_logo_footer">
          Plataforma virtual de historia boliviana con libros digitales, generación de imágenes históricas e interacción vía chatbot.
        </p>
      </div>
  
      <div class="footer-biblioteca-columna">
        <h4>Secciones</h4>
        <ul>
          <li><a href="Biblioteca" style="text-decoration: none; color: black;">Biblioteca Digital</a></li>
          <li><a href="Asistente" style="text-decoration: none; color: black;">Chatbot Histórico</a></li>
          <li><a href="Galeria" style="text-decoration: none; color: black;">Galería de Imágenes</a></li>
          <li><a href="Galeria" style="text-decoration: none; color: black;">Gráficos Interactivos</a></li>
        </ul>
      </div>
  
      <div class="footer-biblioteca-columna">
        <h4>Lo más consultado</h4>
        <ul>
          <li><a href="Asistente" style="text-decoration: none; color: black;">Independencia de Bolivia</a></li>
          <li><a href="Asistente" style="text-decoration: none; color: black;">Guerra del Pacífico</a></li>
          <li><a href="Asistente" style="text-decoration: none; color: black;">Personajes históricos</a></li>
          <li><a href="Asistente" style="text-decoration: none; color: black;">Cartas y documentos</a></li>
        </ul>
      </div>
  
      <div class="footer-biblioteca-columna">
        <h4>Mapa del sitio</h4>
        <ul>
          <li><a href="/" style="text-decoration: none; color: black;">Inicio</a></li>
          <li><a href="Biblioteca" style="text-decoration: none; color: black;">Biblioteca</a></li>
          <li><a href="Nuestra-Bolivia" style="text-decoration: none; color: black;">Nuestra Hisotria</a></li>
          <li><a href="Evolucion-Historica" style="text-decoration: none; color: black;">Evolucion Historica</a></li>
          
        </ul>
      </div>
  
      <div class="footer-biblioteca-columna">
        <h4>Síguenos</h4>
        <ul>
          <li><a href="#" style="text-decoration: none; color: black;">Facebook</a></li>
          <li><a href="#" style="text-decoration: none; color: black;">Instagram</a></li>
          <li><a href="#" style="text-decoration: none; color: black;">Youtube</a></li>
          <li><a href="#" style="text-decoration: none; color: black;">TikTok</a></li>
        </ul>
      </div>
    </div>
  
    <hr />
    <p class="footer-biblioteca-copy">© 2025 Biblioteca Virtual Bolivia. Todos los derechos reservados.</p>
  </footer>

</body>
</html>
  