
<!--Modulo CB -->
<section class="bolivia-modulo">
    <div class="bolivia-contenido">
      <div class="bolivia-texto">
        <h1>Conoce más<br>sobre la historia<br>de Bolivia</h1>
        <p>
          Explora todos los libros de historia e interactúa con<br />
          nuestro asistente virtual.
        </p>
        <div class="bolivia-botones">
          <a href="Biblioteca"><button>Buscar un Libro</button></a>
          <a href="Asistente"><button>Asistente virtual</button></a>
          
         
        </div>
      </div>
  
      <div class="bolivia-imagen">
        <img src="/img/biblioteca.jpg" alt="Biblioteca">
      </div>
    </div>
  
    <div class="bolivia-barra-flotante">
      <div>
        <h4>Libros</h4>
        <p>📚<br><span>Preservación y conservación</span></p>
      </div>
      <div>
        <h4>Biblioteca</h4>
        <p>👍<br><span>Disponibilidad 24/7</span></p>
      </div>
      <div>
        <h4>Dispositivos</h4>
        <p>📦<br><span>Lectura en cualquier dispositivo</span></p>
      </div>
      <div>
        <h4>Libre Acceso</h4>
        <p>✅<br><span>Acceso libre y gratuito</span></p>
      </div>
      <div>
        <a href="Biblioteca"><button class="bolivia-boton-barra">Biblioteca</button></a>
      </div>
    </div>
  </section>
  
  <br><br><br>