
<section class="cultural-grid">
    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Consultas sobre Historia de Bolivia</h3>
                <a href="Asistente"><button  class="cultural-link">Ver más</button></a>
            </div>
            <img src="/img/bolivia.png" alt="Historia boliviana" class="cultural-img">
        </div>
    </article>

    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Autores y obras</h3>
                <a href="Biblioteca"><button  class="cultural-link">Ver más</button></a>
            </div>
            <img src="/img/mujer.png" alt="Autores bolivianos" class="cultural-img">
        </div>
    </article>

    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Datos históricos</h3>
                <a href="Evolucion-Historica"><button  class="cultural-link">Ver más</button></a>
            </div>
            <img src="/img/documento.png" alt="Documentos históricos" class="cultural-img">
        </div>
    </article>
</section>
