
<section class="cultural-grid">
    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Busca libros sobre Guerras y Revoluciones</h3>
                <a href="Biblioteca"><button class="cultural-link">Ver m치s</button></a>
            </div>
            <img src="/img/espadas.png" alt="Historia boliviana" class="cultural-img">
        </div>
    </article>

    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Averigua sobre Personajes Historicos</h3>
                <a href="Asistente"><button class="cultural-link">Ver m치s</button></a>
            </div>
            <img src="/img/soldado.png" alt="Autores bolivianos" class="cultural-img">
        </div>
    </article>

    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Analisa sobre la historia de Bolivia</h3>
                <a href="Evolucion-Historica"><button  class="cultural-link">Ver m치s</button></a>
            </div>
            <img src="/img/periodico.png" alt="Documentos hist칩ricos" class="cultural-img">
        </div>
    </article>
</section>
