<section class="galeria-historica">
    <div class="galeria-historica-encabezado">
      <h2>Nuestra Galería</h2>
      <p>Explora nuestra galería con IA generativa inspirada en el bicentenario</p>
      <a href="Galeria"><button class="modulo-historia-boton">Explorar Gráficos</button></a>
<BR></BR>
    </div>
  
    <div class="galeria-historica-grid">
      <img src="/img/galeria1.png" alt="Imagen histórica 1">
      <img src="/img/galeria2.png" alt="Imagen histórica 2">
      <img src="/img/galeria3.png" alt="Imagen histórica 3">
      <img src="/img/galeria4.png" alt="Imagen histórica 4">
      <img src="/img/galeria5.png" alt="Imagen histórica 5">
      <img src="/img/galeria6.png" alt="Imagen histórica 6">
    </div>
  </section>
  