<!--Cabecera-->
<%- include('../Pagina/cabecera.ejs') %>

<section class="modulo-mapas">
  <h2 class="modulo-mapas-titulo">
    Evoluci칩n Geogr치fica de Bolivia: Comparaci칩n de Mapas Hist칩ricos
  </h2>

  <div class="modulo-mapas-wrapper">
<iframe
  src="<%= iframeSrc %>"
  frameborder="0"
  class="modulo-mapas-conectado"
  scrolling="no"
  style="width: 100%; height: 700px;"></iframe>

  </div>

</section>



  <!--Pie de pagina -->
  <%- include('../Pagina/footer.ejs') %>